$primary-lighten: #57aae1;
$primary: #3498db;
$dangerColor: #E63F24;

$panel-header: #fafafa;
$border-color: #e7e7e7;
$lightGrey: #cccccc;
$text-color: #666666;

$darkGrey: #333333;
$darkBlue: #203A6F;
$blueGrey: #303E4D;

$toolbarHeight: 42px;